<% layout('layouts/boilerplate') %>

    <div id="new-orders" class="row mt-3">


    </div>
    <div class="row" id="accepted-orders">

    </div>



    <script src="/javascripts/comenziBuc.js"></script>