<% layout('layouts/boilerplate') %>
    <style>
        .label {
            display: block;
        }
    </style>
    <div class="row">

        <form action="/ingredient/addFurnizor" method="POST" novalidate class="validated-form">
            <div class="card col-lg-6 offset-lg-4" style="width: 28rem; padding:8px 8px 8px 8px; margin-top: 50px;">
                <h4 class="text-center mt-2">Adaugă Furnizor</h4>
                <span class="label my-2">Nume</span>
                <input type="text" name="furnizor[nume]" id="numeF" class="form-control" placeholder="Nume"
                    aria-describedby="basic-addon1" required>

                <span class="label my-2">CIF</span>
                <input type="text" name="furnizor[cif]" id="cif" class="form-control" placeholder="CIF"
                    aria-describedby="basic-addon1" required>


                <span class="label my-2">REg. Com.</span>
                <input type="text" name="furnizor[rc]" id="rc" class="form-control" placeholder="Reg. Com."
                    aria-describedby="basic-addon1" required>

                <span class="label my-2">Cont</span>
                <input type="text" name="furnizor[cont]" id="cont" class="form-control" placeholder="Cont"
                    aria-describedby="basic-addon1" required>

                <span class="label my-2">Bancă</span>
                <input type="text" name="furnizor[banca]" id="banca" class="form-control" placeholder="Banca"
                    aria-describedby="basic-addon1" required>

                <span class="label my-2">Adresă</span>
                <textarea type="text" name="furnizor[adresa]" id="adresa" class="form-control" placeholder="Adresa"
                    aria-describedby="basic-addon1"></textarea>

                <button class="btn btn-info my-2 addIngBtn">Adaugă furnizor nou</button>
            </div>
    </div>
    </form>


    </div>