<% layout('layouts/boilerplate') %>
    <div class="container-fluid mt-5">
    </div>
    <div class="row">
        <div class="col">









        </div>

    </div>

    <script src="/javascripts/reteta.js"></script>