<% layout('layouts/boilerplate') %>



  <div class="row">
    <h3 class="text-center mb-3">Situația notelor de plată</h3>
    <div class="col-lg-8 offset-lg-2 filterHeaderWrapper">
      <div class="row">
        <div class="col-lg-3 filterHeader">
          <label for="">De la</label>
          <input type="date" name="Start" id="start" class="">
        </div>
        <div class="col-lg-3 filterHeader">
          <label class="" for="end">Până la</label>
          <input clas="form-control" type="date" name="End" id="end">
        </div>
        <div class="col-lg-3 filterHeader">
          <label class="" for="users">Utilizatori</label>
          <select class="form-select form-select-sm" id="users" aria-label=".form-select-sm example">
            <option value="1" selected>Toți</option>
            <%users.forEach(function(el){%>
              <option value="<%=el._id%>">
                <%=el.nume%>
              </option>
              <% }) %>
          </select>
        </div>
        <div class="col-lg-3 filterHeader btnWrap">
          <button class="btn  btn-sm btn-warning shadow mt-4" id="data">Note</button>
          <button class="btn btn-sm btn-warning shadow mt-4" id="produse">Produse</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <table class="col-lg-6 offset-lg-3 mt-4 hide bonTable">
      <tr class="text-center header">
        <th class="hide">id</th>
        <th>Nr</th>
        <th>User</th>
        <th>Data</th>
        <th>Card</th>
        <th>Cash</th>
        <th>Total</th>
      </tr>
  </div>

  <div class="row">
    </table>
    <table class="col-lg-6 offset-lg-3 mt-4 hide prodTable">
      <tr class="text-center header">
        <th>Produs</th>
        <th>Qty</th>
        <th> &nbsp; &nbsp; Pret &nbsp; <i class="bi clsBtn bi-arrow-90deg-up"></i></th>
      </tr>
    </table>
  </div>


  <script src="/javascripts/rapoarte.js"></script>