<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POSApp</title>
    <link rel="icon" type="image/x-icon" href="data:;base64,iVBORw0KGgo=">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Domine&family=Philosopher&family=Inconsolata:wght@300;400;500&display=swap"
        rel="stylesheet">
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;1,400&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/stylesheets/nom.css">
    <link rel="stylesheet" href="/stylesheets/rapoarte.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
</head>

<body class=" vh-100">

    <main class="cont m-0">

        <div class="row row-total">
            <div class="raport-wrapper">
                <div class="nav-buts x">
                    <span style="font-size:20px; margin-left:3px;">report</span>
                    <span style="font-size:30px;">X</span>
                </div>
                <div class=" nav-buts z">
                    <span style="font-size:20px; margin-left:3px;">report</span>
                    <span style="font-size:30px;">Z</span>
                </div>

                <div class="nav-buts fact">
                    <a href="/recipes" style="text-decoration: none; color:black">
                        <span style="font-size:20px;"><span
                                style="font-size:30px; margin-left: 3px;">R</span>ecipes</span>
                    </a>
                </div>
                <div id="back-office" class="nav-buts">
                    <a href="rapoarte/dashboard" style="text-decoration: none; color:black">
                        <span style="font-size:20px;"><span
                                style="font-size:30px; margin-left: 3px;">B</span>ack<span style="font-size:30px; margin-left: 3px;">O</span>ffice</span>
                       
                    </a>
                </div>
                <div class="nav-total ms-5" style="background-color: transparent; box-shadow: none; font-size: 20px;">
                    M
                    <span class="marfa" style="font-size:20px;"></span>
                </div>
                <div class="nav-total" style="background-color: transparent; box-shadow: none;font-size: 20px;">
                    P
                    <span class="prep" style="font-size:20px;"></span>
                </div>
                <div class="nav-buts-1">
                    <i class="bi bi-cash"></i>
                </div>
                <div class="hide-wrapper">
                <div class="unreg-wrapper" style="margin: 0 10px 0 auto;">
                    <span class="unregistred"></span>
                </div>
                <div class="nav-metoda" style="background-color: transparent; box-shadow: none;">
                    <i class="bi bi-cash"></i>
                    <span class="nav-cash" style="font-size:30px;"></span>
                </div>
                <div class="nav-metoda" style="background-color: transparent; box-shadow: none;">
                    <i class="bi bi-credit-card"></i>
                    <span class="nav-card" style="font-size:30px;"></span>
                </div>
                <div class="nav-total me-4" style="background-color: transparent; box-shadow: none;">
                    <i class="bi bi-house-fill"></i>
                    <span class="card-cash" style="font-size:30px;"></span>
                </div>
                <% if(result.sum < 0) {%>
                    <span class="addSuma me-5" style="font-size:30px; color:red;"> <%=result.sum%></span>
                    <% } else if( result.sum === 0) {%>
                        <% } else {%>
                            <span class="addSuma me-5" style="font-size:30px; color:green;"> +<%=result.sum%></span>
                            <% } %>
                </div>
                <li class="nav-item dropdown center me-5" style="list-style: none; margin-left:auto;">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-display="static"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-person fs-2"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start">
                        <!-- <%if(session.userAdmin===3) {%>
                            <li><a class="dropdown-item" href="/comanda/istoricBuc">Order History</a>
                            </li>
                            <hr class="dropdown-divider">
                            <% } %>
                                <%if(session.userAdmin===2) {%>
                                    <li><a class="dropdown-item" href="/comanda/istoricBarista">Order History</a>
                                    </li>
                                    <hr class="dropdown-divider">
                                    <% } %>
                                        <%if(session.userAdmin==0) {%>
                                            <li><a class="dropdown-item" href="/rapoarte/casier">Bill History</a>
                                            </li>
                                            <hr class="dropdown-divider">
                                            <% } %>
                                                <% if(session.userAdmin===1){ %>
                                                    <li><a href="/rapoarte/rap" class="dropdown-item">Admin</a></li>
                                                    <hr class="dropdown-divider">
                                                    <li><a class="dropdown-item" href="/locatie/show">Users</a>
                                                        <hr class="dropdown-divider">
                                                    </li>

                                                    <% } %> -->
                                                        <!-- <li><a class="dropdown-item" href="">Account</a></li> -->
                                                        <!-- <hr class="dropdown-divider"> -->
                                                        <li><a class="dropdown-item"
                                                                href="/locatie/users/logout">Switch User</a></li>
                                                        <li>
                                                            <hr class="dropdown-divider">
                                                        </li>
                                                        <li><a class="dropdown-item" href="/locatie/logout">Logout
                                                                Place</a>
                                                        </li>
                    </ul>
                </li>



                <button type="button" class="btn-lg btn me-2 add" data-bs-toggle="modal"
                    data-bs-target="#adaugaModal">
                    +
                </button>

                <button type="button" class="btn-lg btn red me-5" data-bs-toggle="modal"
                    data-bs-target="#scoateModal">
                    -
                </button>

            </div>


            <div class="modal fade" id="adaugaModal" tabindex="1" aria-labelledby="adaugaModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="total-modal-row">
                                <span>Add cash in drower:"</span>

                            </div>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="modal-body">
                                <div class="plata">
                                    <div class="suma-modal-wraper mb-3">
                                        <input type="number" name="suma" id="addSuma">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-lg" id="addCasa"
                                data-bs-dismiss="modal">Add</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="scoateModal" tabindex="1" aria-labelledby="adaugaModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="total-modal-row">
                                <span>Substract cash from drower:</span>

                            </div>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="modal-body">
                                <div class="plata">
                                    <div class="suma-modal-wraper mb-3">
                                        <input type="number" name="suma" id="redSuma">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">

                            <button type="button" class="btn btn-lg" id="redCasa"
                                data-bs-dismiss="modal">Substract</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row  contix">
            <div class="col-6" id="search">
                <div class="wrapper">
                    <div class="search-input">
                        <input type="search" id="cauta" placeholder="Search Product..." class="src-input">
                        <div class="icon">
                            <i class="bi bi-x-lg search-close"></i>
                            <i class="bi bi-search search-icon" id="search-button"></i>
                        </div>
                    </div>
                </div>
                <div class="row search-result">
                       
                </div>
                <div class="row testRow">

                </div>
            </div>

            <div class="col-6 wrapNota">
                <div class="row header mb-4">
                    <span class="col-5">Product</span>
                    <span class="col-3">Price</span>
                    <span class="col-4">Quantity</span>
                </div>
                <div class="bill">

                </div>
                <div class="row reducere mx-0">
                    <span class="col-7 mt-3">Discount</span>
                    <input type="text" class="col-2 redImp mt-2">
                    <span class="col-1 mt-3">lei</span>
                </div>

                <div class="row total mx-0">
                    <span class="col-5">TOTAL</span>
                    <span class="col-3" id="total"></span>
                    <button type="button" class="col-2 btn-lg btn  nto mt-2" data-bs-toggle="modal"
                        data-bs-target="#notaModal" style="font-size:34px;">
                        Bill
                    </button>

                    <div class="modal fade" id="notaModal" tabindex="-1" aria-labelledby="notaModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <div class="total-modal-row">
                                        <span>Total</span>
                                        <span class="modal-pret">...</span>
                                        <span class="ms-2">lei</span>
                                    </div>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="modal-body">
                                        <div class="plata">
                                            <div class="cash-modal-wraper mb-3">
                                                <span class="btn btn-info cash mb-2">Cash</span>
                                                <input type="text" name="cash" id="cash">
                                            </div>
                                            <div class="card-modal-wraper my-3">
                                                <span class="btn btn-info car mb-2">Card</span>
                                                <input type="text" name="card" id="card">
                                            </div>
                                            <div class="cif-modal-wraper mb-3">
                                                <span class="btn btn-info ro mb-2 fs-2">CIF</span>
                                                <input type="text" name="suma" id="addCif">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <input type="checkbox" name="bon" id="bon">
                                    <!-- <label for="nrMasa">Numar Masa</label> -->
                                        <!-- <input type="number" name="nrMasa" id="nrMasa"> -->
                                        <button type="button" class="btn btn-lg btn-info nota" data-bs-dismiss="modal"
                                        style="font-size:40px;">Notă</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </main>


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
        integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
        crossorigin="anonymous"></script>
    <script src="/javascripts/validateForms.js"></script>
    <script src="/javascripts/search.js"></script>
</body>

</html>
