
.filterHeader{
    margin: 5px 0 5px 0;
    max-width: 100%;
    /* background-color: rgba(144, 224, 239, 0.4); */
    border-radius: 4px;
 
}


.filterHeader select{
    width: 100%
    
}

.filterHeader label{
    display: block;
}

.filterHeaderWrapper {
    background-color: white;
    border-radius: 4px;
}


input[type="date"]{
    border-radius: 4px;
    margin: 0 0 0 0;
    border: 1px solid rgb(193, 192, 192);
    height: 32px;
    width: 100%;
    /* box-shadow: 0 1px 5px 3px rgba(0,0,0,0.12); */
}

.bonTable{
    border-radius: 8px;
    /* box-shadow: 0 1px 5px 3px rgba(0,0,0,0.12); */
}

.wrapperTable{
    border-radius: 8px;
    background-color: aliceblue;
    max-width: 100%;
}

#fiscal-bill, #produse:disabled{
    background-color: #e0d4c9;
    border:none;
}

#fiscal-bill, #produse:hover{
    background-color: #e0d4c9;
}

.linie{
    background-color: #efdfd1;
    cursor: pointer;
    border-radius: 4px;
    border-bottom: 0.5px solid black;
    /* box-shadow: 0 1px 5px 3px rgba(0,0,0,0.12); */
}

.unregistred-line{
    background-color: #ff3f04;
    cursor: pointer;
    border-radius: 4px;
    border-bottom: 0.5px solid black;
}

.bon:hover{
    background-color:#ffbf69 ;
}

#data{
    height: 40px;
}
/* .liniePrd{
   
} */
