body{
    background-color: #f4f3ee;
}

.container{
    font-family: 'Playfair Display', serif; 
}
.cont{
    font-family: 'Playfair Display', serif; 
    width: 100%;
}
.navbar{
    font-family: 'Playfair Display', serif;
}

.navbar-nav{
    font-size: 23px;
    
}

.navbar-nav a{
    text-decoration: none;
    padding: 10px;
    color: black;
}

.row-total{
    width: 100%;
    display: flex;
    flex-direction:row;
    align-items: flex-end;
}

.nav-total-wrapper{
    display: flex;
    flex-direction:row;
    align-items: baseline;
    margin-left:auto ;
}

.nav-metoda{
    padding: 1px;
    max-height: 50px;
    max-width: 500px;
    margin: 10px 0 0px 10px;
 
}
.nav-total{
    padding: 1px;
    max-height: 60px;
    max-width: 190px;
    margin: 10px 0 0 10px;
}

.unregistred{
    font-size:30px;
}

.unreg-wrapper{
    margin: 0 10px 0 auto;
}


.raport-wrapper{
    display: flex;
    flex-direction:row;
    align-items: baseline;
    width: 100%;
    margin: 15px 0px 0px 30px;
}

.hide-wrapper{
    display: flex;
    flex-direction:row;
    align-items: baseline;
    margin-left: auto;
}


.raport-wrapper button{
 background-color: #e0d4c9;
 border-radius: 0%;
 border: none;
 box-shadow: 0 0px 1px 1px rgba(0,0,0,0.12);
}




.raport-wrapper div{
    align-items:baseline;
}

.nav-buts{
    cursor: pointer;
    display: flex;
    flex-direction:row;
    width: 85px;
    height: 45px;
    margin: 0 5px 0 0;
    background-color:#e0d4c9;
}
.nav-buts-1{
    cursor: pointer;
    display: flex;
    flex-direction:row;
    justify-content: center;
    width: 85px;
    margin: 0 5px 0 30px;
    background-color:#e0d4c9;
}
.nav-buts-1 i{
    font-size: 34px;
}

#back-office{
    width: 130px;
}
.raport-wrapper div:hover{
    background-color: #e5e6e4;
}
.raport-wrapper div:active{
    background-color: #eff1f3;
}
.raport-wrapper div span{
    margin: 0 2px 0 1px;
}
    



.contix{
    margin:15px 0 0 0;
    padding-left: 25px;
    width: 100%;
    background-color: #e5e6e4;
    border-radius: 8px;
}


#search{
   border-right: 1px solid black;
   max-height: 540px;
   overflow: auto;
}
.testRow {
    display: flex;
    overflow: auto;
}
.serch-result {
    display: flex;
    overflow: auto;
}


.btnProd{
    border: none;
    font-size: 20px;
    line-height: 0.9;
    text-align: center;
    background-color: #e5e6e4;
    padding: 0;
    margin: 20px 5px 0 0;
    border-radius: 8px;
    display: flex; 
    align-items: baseline; 
}

.btnProd:active{
    background-color: #edf2fb;
}
.btnProd:hover{
    background-color: #edf2fb;
}

.btnCat{
    padding: 0;
    border: none;
    text-align: center;
    background-color: #e5e6e4;
    margin: 20px 0 0 0;
    display: flex; 
    align-items: baseline; 
}
.btnCat:active{
    background-color: #edf2fb;
}
.btnCat:hover{
    background-color: #edf2fb;
}

.btnCat div{
   width: 100%;
}
.btnProd div{
    width: 100%;
}
/* .card-img{
    height: 90px;
    width: 90px;
} */




#search div span{
    margin-top: 30px;
    padding-top: 40px;
}


#search div:hover{
    cursor: pointer;
}

.secBac{
    border: none;
    border-radius: 5px;
    font-size: 70px;
    text-align: center;
    background-color: #e5e6e4;
    margin: 20px 0 0 0px;
    display: flex; 
    align-items: center; 
    justify-content: center;
}
.secBac:active{
    color: #c0c0c0;
}

.secBac:hover{
    color: #c0c0c0;
}
#search i:hover{
    cursor: pointer;
}


.wrapper{
    margin: 10px auto auto auto;
    display: grid;
    place-items: center;
}

.show-search{
    width: 100% !important
}


.search-input{
    position: relative;
    height: 76px;
    width: 76px;
    background-color:#e0d4c9;
    padding: 10px;
    border-radius: 4rem;
    overflow: hidden;
    transition: width .5s cubic-bezier(.9, 0, .3, .9);
}

.search-input input{
    height: 100%;
    border-radius: 4rem;
    padding-left: 14px;
    background: fff;
    width: 100%;
    outline: none;
    border: none;
    font-size: 18px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.9s;
}

.show-search .src-input{
    opacity: 1;
    display: inline;
    pointer-events: initial;
}

.show-search .search-icon{
    transform: rotate(90deg)
}

.show-search .search-icon{
    display: none;
}

.show-search .search-close{
    opacity: 1;
}

.search-input .icon{
    height: 56px;
    width: 56px;
    border-radius: 50%;
    background-color: #c3a995;
    line-height: 55px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 10px;
    margin: auto;
    display: grid;
    place-items: center;
    cursor: pointer;
}

.search-icon,
.search-close{
    color: black;
    position: absolute;
    font-size: 1.5rem;
    transition: opacity 0.5s cubic-bezier(0.9, 0, 0.3, 0.9);
}

.search-close{
    opacity: 0;
}



.search-input .autocom-box{
    padding: 0;
    max-height: 280px;
    overflow-y: auto;
    opacity: 0;
}

.search-input.active .autocom-box {
    padding: 10px 8px;
    opacity: 1;
    pointer-events: auto;
}

.autocom-box li{
    list-style: none;
    padding: 8px 12px;
    width: 100%;
    cursor: default;
    border-radius: 3px;
    display: none;
}

.search-input.active .autocom-box li{
    display:block;
}

.autocom-box li:hover{
    background: #efefef;

}


.header{
    width: 100%;
    margin:0 0;
    height: 50px;
    font-size: 25px;
    margin-top: 15px;
    border-top-right-radius: 8px;
    border-bottom: solid 0.5px #8b8c89;
    font-weight: 500;
    /* background-color: #ebebeb; */
}

.item{
    border-radius: 5px;
    background-color: #e0d4c9;
    box-shadow: 0 1px 5px rgba(0,0,0,0.1)
}

.item button{
   background-color: white;
   border-radius: 0%;
   box-shadow: 0;
}



.plata input{
    height: 60px;
    width: 280px;
    background-color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.1)
}



.plata span{
    width: 130px;
    height: 60px;
    font-size: 20px;
    margin: 0 0 5px 0;
    background-color:white;
    border: none;
    box-shadow: 0 1px 5px rgba(0,0,0,0.1)
}

.qty{
    width: 50px;
    height: 40px;
    border:none;
    border-radius:6px;
}

.wrapNota{
    padding: 0 0 0 0;
}

.reducere{
    width: 100%;
    height: 60px;
    border-top: solid 0.5px #8b8c89;
    border-bottom: solid 0.5px #8b8c89;
}



.total{
    width: 100%;
    height: 90px;
    font-size: 28px;
    font-weight: 500;
    padding-bottom: 66px;
    /* border-bottom: solid 0.5px #8b8c89; */
    border-bottom-right-radius: 8px;
}




.total button{
    margin-left:55px;
    background-color:rgba(202, 240, 248,1);
    border: none;
    border-radius: 0%;
    box-shadow: 0 1px 5px rgba(0,0,0,0.1)
}

.modal-content{
    background-color: #e5e6e4;
}

.modal-header{
    background-color: #f4f3ee;
    border: none;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2)
}

.modal-footer{
    display: flex;
    flex-direction: row !important;
    background-color: #f4f3ee;
    border: none;
    box-shadow: 2px 0px 5px rgba(0,0,0,0.2)
}
.modal-pret{
    margin-left:130px;
    font-size: 40px;
    font-weight: 500;
}

.modal-footer button{
    background-color: #c3a995;
    display:inline-block;
}

.suma-modal-wraper input{
    margin-left: 90px;
    font-size: 30px;
}

.cash-modal-wraper input{
    font-size: 30px;
}
.cif-modal-wraper input{
    font-size: 30px;
}
.modal-footer #nrMasa {
    border: none;
    border-radius: 6px;
    margin:0 40px 0 10px;
    width: 80px;
    box-shadow: 2px 0px 5px rgba(0,0,0,0.2)
}


.modal-footer #bon{
 margin-right: 50%;
}

.bill{
    min-height: 300px;
}



.reducere span{
    font-size: 22px;
    font-weight: 400;
}

.reducere input{
    width: 50px;
    height: 40px;
    border: none;
    border-radius:6px;
    margin:0 0 0 132px;
    background-color:white;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.1)
}



.total button{
    background-color: #c3a995;
}



.total-modal-row{
    font-size:30px;
    font-weight: 400;
}


/* flash */

.flash-success{
    border: none;
    background-color:rgba(202, 240, 248,0.7);
    box-shadow: 0 1px 5px rgba(0,0,0,0.1)
}


.flash-error{
    border: none;
    background-color:rgba(248, 202, 202, 0.814);
    box-shadow: 0 1px 5px rgba(0,0,0,0.1)
}


.prodHeader span {
    font-size: 12px;
    padding: 0;
}   

.right-align {
    direction: rtl;
}

@keyframes appear {
    0% {
      opacity: 0;
      transform: scale(0.5);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  

.appear {
    animation-name: appear;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }

  .hide{
    display: none;
  }

  .color{
    background-color: #e0d4c9;
  }
  .color1{
    background-color: #dac5b2;
  }